# Google Sheets Settings
GOOGLE_APPLICATION_CREDENTIALS=credentials.json
SOURCE_SPREADSHEET_ID=your_google_sheet_id_here
BACKUP_SHEET_NAME=Backup
RENEWAL_SHEET_NAME=Renewal Transactions

# Database Settings
DB_TYPE=mysql+pymysql
DB_HOST=common-db.ct40ggoqst1b.ap-south-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=your_database_name
DB_USER=nsjao4ka93qod
DB_PASSWORD=your_password_here
DB_TABLE=your_table_name
